<h1 class="center_admin_page_name">Admin Side</h1>
<nav class="nav nav-tabs nav-justified">
  <a class="nav-item btn btn-secondary " href="/admin/users">List of Users</a>
  <a class="nav-item btn btn-light " href="/admin/products">List of Products</a>
  <a class="nav-item btn btn-secondary" href="/admin/orders">List of Orders</a>
</nav><br>


