<h2>List of Categories</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Category Name</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   <%= render @categories %>
  </tbody>
</table>

<%= link_to 'Add a new Product Category', new_admin_category_path, class: 'btn btn-primary' %> 
<%= link_to 'Back to Admin Page', admin_products_path, class: 'btn btn-primary' %>

